img {
    width: 400px;
    height: 400px;
    clip-path: circle();
    -webkit-mask-image: url(https://learn.webpurple.net/static/aba86253822b61ea23852e30a0d7f53e/css3.svg);
    -webkit-mask-mode: alpha;
    -webkit-mask-repeat: repeat;
    -webkit-mask-size: 20%;
}
