* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
    
body {
<<<<<<< HEAD
    width: 100%;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.board-header {
    width: 100%;
=======
    width: 1152px;
}

header {
    width: 1152px;
>>>>>>> 84f2ad9... task-03 kanban isi done
    height: 55px;
    background: #0067A3;
    display: flex;
    justify-content: space-between;
}

<<<<<<< HEAD
.tasks-board {
    background-color: #E5E5E5;
    height: 590px;
    background-color: #0079BF;
}

.menu-left {
=======
main {
    background-color: #E5E5E5;
    height: 590px;
}

.logo {
>>>>>>> 84f2ad9... task-03 kanban isi done
    display: flex;
    align-items: center;
    margin-left: 14px; 
}

<<<<<<< HEAD
.image-logo {
    border: none;
    outline: none;
    background: transparent;
}

.logo {
=======
a {
    text-decoration: none;
    color: #ffffff;
}

h1 {
>>>>>>> 84f2ad9... task-03 kanban isi done
    margin-left: 8px;
    color: #ffffff;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
}

.menu-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 294px;
}

.profile {
    display: flex;
    align-items: center;
<<<<<<< HEAD
}
  
.new-list-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    outline: none;
    border: none;
    width: 181px;
    height: 33px;
=======
    justify-content: flex-end;
}

.new-list{
    width: 181px;
    height: 33px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
  
.new-list button,
.new-list input {
    outline: none;
    border: none;
    background-color: #FFFFFF;
}
  
.new-list input {
    width: 135px;
    height: 18px;
    margin-top:5px;   
}
  
.new-list input::-webkit-input-placeholder {
>>>>>>> 84f2ad9... task-03 kanban isi done
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
<<<<<<< HEAD
    border-radius: 5px;
}

.describe-btn {
    padding-right: 10px;
}
  
.user-icon {
    background: #FFFFFF;
    border-radius: 50%;
=======
}
  
.new-list button{
    width: 22px;
    height: 22px;
    margin: 10px
}

.user-icon {
    background: #FFFFFF;
    border-radius: 100%;
>>>>>>> 84f2ad9... task-03 kanban isi done
}

.profile-menu {
    -webkit-appearance: none;
<<<<<<< HEAD
    background: url("image/arrow-down.svg") no-repeat 50% 50%;
=======
    background: url("image/Vector.png") no-repeat 50% 50%;
>>>>>>> 84f2ad9... task-03 kanban isi done
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    outline: none;
}

<<<<<<< HEAD
.board-footer {
    width: 100%;
=======
footer {
    width: 1152px;
>>>>>>> 84f2ad9... task-03 kanban isi done
    height: 55px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    background-color: #0067A3;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}
  
<<<<<<< HEAD
.footer-left .task-counter {
    margin-left: 43px;
}
=======
input {
    outline: none;
    border: none;
    background: transparent;
    color: #ffffff;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}
    
.footer-left {
    margin-left: 43px;
}
  
.footer-left input {
    width: 70px; 
}
    
.footer-right input {
    width: 140px;
}
>>>>>>> 84f2ad9... task-03 kanban isi done
